.cover {
    position: relative;
    min-height: 740px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    background-image: url(../../images/__background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-decoration: none;
}
.cover:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: .3;
    transition: opacity linear .2s;
}

@media (max-width: 1184px) {
    .cover {
        min-height: 740px;
    }
}

@media (max-width: 1024px) {
    .cover {
        width: 100%;
    }
}

