.cover__title {
    max-width: 512px;
    max-height: 152px;
    margin: 245px 360px 477px 360px;
    position: absolute;

    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
}
@media (min-width: 321px) and (max-width: 570px) {
    .cover__title {
            font-size: 40px;
            line-height: 1;
            max-width: 320px;
            }
}
@media (max-width: 320px) {
    .cover__title {
            font-size: 32px;
            line-height: 35px;
            margin: 0 0 16px;
            max-width: 288px;
        }
}